.banner {
  background-image: url(../img/banner.png);
  background-position: calc(-1075px + 100vw) center;
  background-size: cover;
}

@media (max-width: 395px) {
  .banner {
    background-position: 135vw;
  }
}

@media (min-width: 992px) {
  .banner {
    background-position: center right;
    height: 30vw;
  }
}
