* {
  box-sizing: border-box;
  outline: none;
}

body {
  overflow-y: scroll;
}

body,
input,
button,
textarea {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

.container-xl {
  max-width: 1200px !important;
}

#header {
  background-image: url(../img/banner.png);
  background-position: center right;
  background-size: cover;
  height: 380px;
}

#footer {
  background-color: #f2f2f2;
  color: #777777;
  font-size: 14px;
}

#footer .title {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: left;
}

#footer ul {
  line-height: 1.875;
}

#footer ul li img {
  margin: auto 0px;
}

#footer #chat {
  border-radius: 50%;
  box-shadow: 0px 10px 15px #ccc;
  height: 80px;
  position: absolute;
  right: 0;
  top: -50%;
  transform: translateY(25%);
  outline: none;
  width: 80px;
}

.title {
  color: #777777;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
